<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="santadeo_testpsicometrico.My.MySettings.VistasConnectionString"
            connectionString="Data Source=SYSTEMS\SQLSERVER;Initial Catalog=Vistas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="santadeo_testpsicometrico.My.MySettings.VistasConnectionString1"
            connectionString="Data Source=SRVSTDO;Initial Catalog=Vistas;User ID=sa;Password=$3rv3r5q10621%"
            providerName="System.Data.SqlClient" />
        <add name="santadeo_testpsicometrico.My.MySettings.VistasConnectionString2"
            connectionString="Data Source=192.168.3.127;Initial Catalog=Vistas;Persist Security Info=True;User ID=sa;Password=$3rv3r5q10621%"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>